body {
  font-family: sans;
}

.tblcode, .tblcode th, .tblcode td {
  border: 1px solid;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

.tblcode {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.td-code {
  width: 80%;
}

input[type=number] {
  width: 3em;
}
